In [45]:
import numpy as np
import pandas as pd
import datetime
df=pd.read_csv("Nunchia.csv",index_col=1)
test=df.copy()

dti = pd.date_range("2007-01-01", periods=127725, freq="H")
test=pd.DataFrame(test.to_numpy(),columns=list(test.columns),index=dti)

In [50]:
test["2019"]
df_final=test["2019"][["AirTemp","Azimuth"]]

In [49]:
df_final

                    AirTemp Azimuth
2019-01-01 00:00:00    20.6     115
2019-01-01 01:00:00    19.8     121
2019-01-01 02:00:00    19.2     135
2019-01-01 03:00:00    18.9     165
2019-01-01 04:00:00    18.6    -154
...                     ...     ...
2019-12-31 19:00:00    28.6     121
2019-12-31 20:00:00    27.6     116
2019-12-31 21:00:00    25.3     114
2019-12-31 22:00:00    23.1     113
2019-12-31 23:00:00    22.1     113

[8760 rows x 2 columns]